<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/_rails_default' %>
    <%= render 'layouts/_shim' %>
  </head>
  <body>
    <%= render 'layouts/_header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/_footer' %>
    </div>
  </body>
</html>
